<!DOCTYPE html>
<html lang = "us" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Language</title>
</head>
<body>
<h1>Change Language</h1>
<form th:action="@{/change-language}" method="post">
    <label for="lang"></label><select name="lang" id="lang">
        <option value="en">English</option>
        <option value="pl">Polski</option>
        <option value="de">Deutsch</option>
    </select>
    <button type="submit">Change</button>
</form>
</body>
</html>
