<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head th:replace="~{fragments :: myHead(title='Record Page')}">
    <title></title>
</head>
<body>

<main layout:fragment="content">
    <h1>Delete Link</h1>
    <div th:if="${error}" th:text="${error}" class="alert alert-danger" role="alert"></div>

    <form th:action="@{/links/delete}" method="post" class="form-group">
        <div class="mb-3">
            <label for="id" class="form-label">Link ID:</label>
            <input type="text" id="id" name="id" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</main>

</body>
</html>
