<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head th:replace="~{fragments :: myHead(title='Record Page')}">
    <title></title>
</head>
<body>

<main layout:fragment="content">
    <h1>Enter Link ID to Get Information</h1>
    <form th:action="@{/findLinkById}" method="get" class="form-group">
        <div class="mb-3">
            <label for="id" class="form-label">Link ID:</label>
            <input type="text" id="id" name="id" class="form-control" required />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Get Info</button>
        </div>
    </form>
</main>


</body>
</html>
